body{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.content-wrapper {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.discord-widget{
    border: none;
    min-height: 300px;
}

.main-footer {
    text-align: center;
    padding: 5px;
}

.main-footer .logo .logo-lg {
    width: 8%;
}

.main-sidebar {
    overflow-x: hidden;
}

.nav-sidebar .nav-header:not(:first-of-type){
    padding: 0.5rem;
}

.nav-sidebar .nav-header{
    border-bottom: solid 1px white;
    margin-bottom: 0.5rem;
}

#transceivers_filter{
    float: right !important;
}

path.leaflet-interactive{
    cursor: crosshair;
}


/* Data Tree Style */
.tree, .tree ul {
  margin:0;
  padding:0;
  list-style:none
}
.tree ul {
  margin-left:1em;
  position:relative
}
.tree ul ul {
  margin-left:.5em
}
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid
}
.tree li {
  margin:0;
  padding:0 1em;
  line-height:2em;
  color:#007bff !important;
  font-weight:700;
  position:relative;
  cursor: pointer
}

.tree ul li:before {
  content:"";
  display:block;
  width:10px;
  height:0;
  border-top:1px solid;
  margin-top:-1px;
  position:absolute;
  top:1em;
  left:0
}
.tree ul li:last-child:before {
  background: #f8f9fa;
  height:auto;
  top:1em;
  bottom:0
}
.indicator {
  margin-right:5px;
}
.tree li a {
  text-decoration: none;
  color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
  text-decoration: none;
  color:#369;
  border:none;
  background:transparent;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  outline: 0;
}